<%= render "/partial/nav"%>
<%= form_with model: @article do |f| %>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xl">
      <h2 class="mb-4">編輯文章</h2>
      <div class="card" style="border-radius: 15px;">
        <div class="card-body" >
          <div class="row align-items-center pt-4 pb-3">
            <div class="field ">
              <%= f.label :title, "標題" %>
              <%= f.text_field :title, autofocus: true, autocomplete: "email", class:"form-control form-control-lg" %>
            </div>
          </div>
          <div class="row align-items-center pt-4 pb-3">
            <div class="field ">
              <%= f.label :content, "內容" %>
              <%= f.text_area :content, autofocus: true, autocomplete: "email", class:"form-control form-control-lg" %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit "更新", class:"btn btn-primary btn-lg mb-4" %>
          </div>
          <%= link_to "修改狀態", state_article_path(@article.id), class:"btn btn-secondary"%>
        </div>
      </div>
    </div>
  </div>    
<% end %>