<%= form_with model: [:blog, @article] do |f| %>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xl">
      <h2 class="mb-4"><%= btn %>文章</h2>
      <div class="card" style="border-radius: 15px;">
        <div class="card-body" >
          <div class="row align-items-center pt-4 pb-3">
            <div class="field ">
              <%= f.label :title, "標題" %>
              <%= f.text_field :title, class:"form-control form-control-lg" %>
            </div>
          </div>
          <div class="row align-items-center pt-4 pb-3">
            <div class="field ">
              <%= f.label :content, "內容" %>
              <%= f.text_area :content, class:"form-control form-control-lg" %>
            </div>
          </div>
          <div class="actions">
            <%= f.submit btn, class:"btn btn-primary btn-lg mb-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>    
<% end %>